@media (max-width: 500px) {

    /* Background */

    #gallery {
     
        display: block;
        margin: 5px;
        border: 10px solid #ccc;
        width: 70%;
      
    
    }
}
